body{
    min-width: none;
    min-height: fit-content;
    background-color: rgba(128, 128, 128, 0.192);
}

.container{
    width: 400px;
    margin: 100px auto;  
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

#display{
    width: 70%;
    margin-left: 0px;
    padding: 10px;
    font-size: 26px;
}

.textClear{
    display: flex;
    flex-direction: row;
}

.clear button{
    color: white;
    background-color: rgb(18, 70, 53);
    width: 98px;
    height: 53px;
    font-size: 20px;
    
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
}

.buttons button{
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

}

